<% assets = Releases::GithubRelease.assets %>

<div class="modal fade"
     id="downloadModal"
     tabindex="-1"
     aria-labelledby="downloadModalLabel"
     aria-hidden="true"
     data-download-modal-target="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadModalLabel">Download Save Button</h5>
        <button type="button" class="btn-close" data-action="click->download-modal#close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs mb-3" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="windows-tab" data-bs-toggle="tab" data-bs-target="#windows-panel" type="button" role="tab" aria-controls="windows-panel">
              Windows
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="macos-tab" data-bs-toggle="tab" data-bs-target="#macos-panel" type="button" role="tab" aria-controls="macos-panel">
              macOS
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="linux-tab" data-bs-toggle="tab" data-bs-target="#linux-panel" type="button" role="tab" aria-controls="linux-panel">
              Linux
            </button>
          </li>
        </ul>

        <div class="tab-content">
          <%# Windows %>
          <div class="tab-pane fade" id="windows-panel" role="tabpanel" aria-labelledby="windows-tab"
               data-download-modal-target="panel" data-platform="windows">
            <div class="list-group">
              <% if assets[:windows_msi] %>
                <a href="<%= assets[:windows_msi] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/windows.png" alt="Windows" class="download-icon">
                  <div>
                    <strong>x86 Windows Installer</strong>
                    <br><small class="text-body-secondary">.msi</small>
                  </div>
                </a>
              <% end %>
            </div>
          </div>

          <%# macOS %>
          <div class="tab-pane fade" id="macos-panel" role="tabpanel" aria-labelledby="macos-tab"
               data-download-modal-target="panel" data-platform="macos">
            <div class="list-group">
              <% if assets[:macos_intel] %>
                <a href="<%= assets[:macos_intel] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/macos.png" alt="macOS" class="download-icon">
                  <div>
                    <strong>Intel (x86)</strong>
                    <br><small class="text-body-secondary">.dmg</small>
                  </div>
                </a>
              <% end %>
              <% if assets[:macos_apple_silicon] %>
                <a href="<%= assets[:macos_apple_silicon] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/macos.png" alt="macOS" class="download-icon">
                  <div>
                    <strong>Apple Silicon</strong>
                    <br><small class="text-body-secondary">.dmg</small>
                  </div>
                </a>
              <% end %>
            </div>
          </div>

          <%# Linux %>
          <div class="tab-pane fade" id="linux-panel" role="tabpanel" aria-labelledby="linux-tab"
               data-download-modal-target="panel" data-platform="linux">
            <p class="text-body-secondary small">
              If you aren't sure which package you need, download the Flatpak.
              <a href="https://flatpak.org/setup/">Flatpaks</a> are the correct way to install apps on Linux.
            </p>
            <div class="list-group">
              <a href="<%= Releases::GithubRelease::AUR_URL %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3" target="_blank" rel="noopener noreferrer">
                <img src="/icons/platforms/arch.svg" alt="Arch Linux" class="download-icon">
                <div>
                  <strong>Arch Linux</strong>
                  <br><small class="text-body-secondary">AUR</small>
                </div>
              </a>
              <% if assets[:linux_deb] %>
                <a href="<%= assets[:linux_deb] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/debian.svg" alt="Debian" class="download-icon">
                  <div>
                    <strong>Debian</strong>
                    <br><small class="text-body-secondary">.deb</small>
                  </div>
                </a>
              <% end %>
              <% if assets[:linux_rpm] %>
                <a href="<%= assets[:linux_rpm] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/fedora.svg" alt="Fedora" class="download-icon">
                  <div>
                    <strong>Fedora</strong>
                    <br><small class="text-body-secondary">.rpm</small>
                  </div>
                </a>
              <% end %>
              <% if assets[:linux_flatpak] %>
                <a href="<%= assets[:linux_flatpak] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/flatpak.svg" alt="Flatpak" class="download-icon">
                  <div>
                    <strong>Flatpak</strong>
                    <br><small class="text-body-secondary">.flatpak</small>
                  </div>
                </a>
              <% end %>
              <% if assets[:linux_ebuild] %>
                <a href="<%= assets[:linux_ebuild] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/gentoo.svg" alt="Gentoo" class="download-icon">
                  <div>
                    <strong>Gentoo</strong>
                    <br><small class="text-body-secondary">.ebuild</small>
                  </div>
                </a>
              <% end %>
              <% if assets[:linux_snap] %>
                <a href="<%= assets[:linux_snap] %>" class="list-group-item list-group-item-action d-flex align-items-center gap-3">
                  <img src="/icons/platforms/ubuntu.svg" alt="Ubuntu" class="download-icon">
                  <div>
                    <strong>Ubuntu</strong>
                    <br><small class="text-body-secondary">.snap</small>
                  </div>
                </a>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
